// Roam Theme */

:root {
	--main-background-c: #fefeff;
	/* Main Window, Bottom Bar, Doc View, Sticky Top, Pages, Queue */
	--light-secondary-background-c: rgba(0, 0, 0, 0.05);
	--right-pane-background-c: rgb(218, 225, 231);
	--secondary-background-c: rgb(25, 32, 37);
	/* Sidebar, Quotes, icons, Portals, Embedded Search, Settings Menu */
	--elevated-background-c: #ffffff;
	/* Queue Cards, Popups */
	--hover-background-c: #cfcfcf;
	/* Hover */
	--border-c: rgba(0, 0, 0, 0.1);
	--rem-c: rgba(0, 0, 0, 0.5);

	--font-body: "Helvetica Neue";
	--font-weight: 300;

	--font-c: #1d1d1d;
	--font-dark-c: rgba(0, 0, 0, 0.6);
	--font-sidebar-c: rgb(115, 133, 149);
	--font-background-c: #aaa;
	--main-link-c: rgb(7, 98, 150);

	--font-red-c: #c5272d;
	--font-orange-c: #bd5113;
	--font-yellow-c: #ebaa1f;
	--font-blue-c: #0f509b;
	--font-green-c: #096809;
	--font-purple-c: #6c3f96;

	--main-font-spacing: 0.01em;
	--bold-font-spacing: 0.02em;
	--semiwide-font-spacing: 0.05em;
	--wide-font-spacing: 0.3em;

	--normal-font-weight: 300;
	--focus-font-weight: 400;
	--bold-font-weight: 430;
	--sidebar-width: 300px;
	--link-image-size: 32px;
	--todo-color: rgb(112, 79, 150);
	--todo-check-color: rgb(200, 200, 200);
	--checkbox-size: 1.5em;
}